body {margin: 0px;}
/* start first part (wlcome part)  */
.main-container {background-image: url(../images/erik-karits-m7nSkYJHqvY-unsplash.jpg);
background-size: cover;
height: 615px;
display: grid;
grid-template-rows: repeat(autofill, minmax(300px, 1fr));
}
header {height: 40px;
box-sizing: border-box;
margin-top: 10px;
}
header .container {margin: 0px;
margin-left: auto;
margin-right: auto;
width: 90%; height: 50px;
display: flex;
flex-flow: row;
justify-content: space-between;
border-bottom: 1px solid white;
}
header .container .logo img {width: 70px; height: 40px;}
.sub-container .choose ul {list-style: none;
display: flex;
flex-flow: row;
justify-content: space-around;
}
.sub-container .choose ul li {width: 50px; height: 34px;
color: white;
margin-left: 22px;
}
.sub-container .choose ul li:hover {border-bottom: 1px solid rgb(35, 150, 226);
    cursor: pointer;
}
.main-container .welcome div:nth-child(1) {margin-left: 0px;
background-color: rgb(72, 174, 233, 30%);
color: white;
padding: 10px;
width: 40%; height: 250px;
padding-left: 100px;
}
.container .sub-container .search-icon {border-left: 3px solid white;
width: 100px; height: 34px;
display: grid;
place-items: center;
margin-left: 30px;
}
.sub-container {display: flex;
justify-content: space-between;
}
.sub-container .search-icon span {width: 10px; height: 10px;
border-radius: 50%;
border: 3px solid white;
position: relative;
}
.sub-container .search-icon span::before {content: "";
height: 10px;
width: 4px;
background-color: white;
transform: rotate(131deg);
position: absolute;
right: -5px;
bottom: -9px;
}
.welcome {position: relative;}
.welcome::before {content: "";
border-color: white white transparent transparent;
border-width: 4px;
border-style: solid;
transform: rotate(-135deg);
position: absolute;
left: 10px; top: 35%;
width: 10px; height: 10px;
}
.welcome::after {content: "";
border-color: white white transparent transparent;
border-width: 4px;
border-style: solid;
transform: rotate(45deg);
position: absolute;
right: 10px; top: 35%;
width: 10px; height: 10px;
}
.under-mark {width: 30px; height: 30px;
background-color: rgb(35, 150, 226);
border-radius: 50%;
position: absolute;
left: 50%; top: 92%;
z-index: 1000;
}
.under-mark::before {content: "";
width: 28px; height: 28px;
border-radius: 50%;
position: absolute;
left: -44px;
background-color: transparent;
border: 2px solid white;
}
.under-mark::after {content: "";
width: 28px; height: 28px;
border-radius: 50%;
position: absolute;
right: -44px;
background-color: transparent;
border: 2px solid white;
}
@media (max-width: 768px) {
.main-container .welcome div:nth-child(1) {width: 100%;
box-sizing: border-box;
margin: 0px;
padding-left: 25px;
}
.main-container .choose span {width: 30px; height: 2px;
background-color: white;
display: flex;
flex-flow: column;
margin: 5px;
}
.sub-container .choose ul {flex-flow: column wrap;
position: absolute;
left: 0px;
width: 100%;
background-color: #0000ff57;
padding: 0px;
align-items: flex-start;
z-index: 100;
margin-top: 25px;
box-sizing: border-box;
}
.sub-container .choose ul li {width: 100%; height: 40px;
padding: 10px;
display: grid;
place-items: center;
box-sizing: border-box;
margin: 0px;
}
.sub-container .choose ul {visibility: hidden;}
.sub-container .choose:hover ul {visibility: visible;
cursor: pointer;
}
}
/* end  first part (wlcome part)*/

/* start services */
.heading h1 {text-align: center;
padding-bottom: 65px;
border-bottom: 1px solid black;
position: relative;
width: 175px;
margin: 0px auto 0px auto;
padding-top: 46px;
}
.heading h1::before {content: "";
width: 20px; height: 20px;
border-radius: 50%;
background-color: white;
border: 1px solid black;
position: absolute;
left: calc(42%); bottom: -10px;
}
.heading p {text-align: center;
color: rgb(199, 194, 194);
width: 480px;
margin: auto;
margin-top: 45px;
font-size: 20px;
}
@media (max-width: 768px) {
.heading p {width: 70%;}
}
/* the heading is for multiple department */
.services .container {display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 45%));
grid-gap: 20px;
margin-left: 30px;
margin-top: 30px;
}
.services .container span {font-size: 50px;}
.services .container>div div p {margin-left: 50px;}
.services .container>div div h2 {margin-left: 50px;}
.services>.options {background-image: url(../images/julian-ame-8ptcHxvd2oQ-unsplash.jpg);
background-size: cover;
background-position-x: 30%;
position: relative;
height: 600px;
z-index: -2;
margin-right: 0px;
}
.services>.options .image {position: absolute;
left: 10%; bottom: -70px;
z-index: -1;
}
.services>.options .options {position: absolute;
right: 0px; top: calc(48%);
color: white;
background-color: rgb(0, 0, 255, 20%);
height: 250px; width: 40%;
padding-left: 20px;
box-sizing: border-box;
}
.services>.options .options ul {list-style-type: none;}
.services>.options .options ul li {position: relative;
margin-bottom: 10px;
}
.services>.options .options ul span {margin-right: 10px;
position: absolute;
top: -5px; left: -30px;
}
.services .container div h2 {color: rgb(35, 150, 226);}
@media (max-width: 768px) {
.services .container {display: flex;
flex-flow: column;
}
.services .container div {display: grid;
place-items: center;
}
.services .container div p {width: 65%;
    text-align: center;
}
.services>.options .image {display: none;}
.services>.options .options {width: 100%;}
.services .container>div div p {margin: 0px;}
.services .container>div div h2 {margin: 0px;
margin-bottom: 20px;
margin-top: 20px;    
}
}
/* end services */

/* start portfolio */
.portfolio {background-color: white;
margin-top: -22px;
}
.portfolio .choose {display: flex;
flex-flow: row;
justify-content: center;
margin-top: 60px;
}
.portfolio .choose span {margin-left: 10px;
margin-bottom: 30px;
padding: 10px;
} 
.portfolio .choose span:nth-child(1) {background-color: rgb(35, 150, 226);
color: white;
}
.portfolio .choose span:hover {color: white;
background-color: rgb(35, 150, 226);
cursor: pointer;
}
.portfolio .projects .flex {display: flex;
flex-flow: row wrap;
justify-content: flex-start;
}
.portfolio .projects .flex div {height: 200px; 
width: 25%;
position: relative;
overflow: hidden;
}
.portfolio .projects>.flex>div>img {height: 100%; width: 100%;
transition: 0.5s;
}
.portfolio .projects .flex>div::before {content: "Awesome image";
width: 100%; height: 70px;
position: absolute;
bottom: -70px; left: 0px;
z-index: 1;
background-color: white;
padding-left: 10px;
transition: 0.5s;

}
.portfolio .projects .flex>div::after {content: "photography";
position: absolute;
left: 10px; bottom: -46px;
z-index: 1;
color: rgb(35, 150, 226);
visibility: hidden;
transition: 0.5s;
}
.portfolio .projects .flex>div:hover img {transform: rotate(20deg) scale(1.7);}
.portfolio .projects .flex>div:hover::before {bottom: 0px;}
.portfolio .projects .flex>div:hover::after {bottom: 22px;
visibility: visible;
}
.portfolio .projects .button {
width: 100px; height: 50px;
background-color: rgb(35, 150, 226);
color: white;
display: grid;
place-items: center;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
cursor: pointer;
}
@media (max-width: 768px) {
.portfolio .projects .flex div {flex: 100%;
margin-bottom: 5px;
height: 300px;
}
}
@media (max-width: 1022px) {
.portfolio .projects .flex div {flex: 50%;}
}
/* end portfolio */

/* start gif */
.gif {background-image: url(../images/Js6t.gif);
background-size: cover;
height: 500px;
position: relative;
}
.gif div {background-color: rgb(4, 4, 250, 40%);
display: grid;
place-items: center;
width: 100%;
margin: 0px;
position: absolute;
top: 40%;
}
.gif>div span {background-color: black;
color: white;
padding: 5px;
margin-bottom: 35px;
}
/* end gif */

/* start about */
.about div:nth-child(2) {margin-top: 60px;
display: grid;
place-items: center;
}
.about div:nth-child(2) img {margin-bottom: -10%;
z-index: -100000;
}
@media (max-width: 768px) {
.about div:nth-child(2) img {width: 70%;}
}
/* end about */

/* start statistics */
.statistics {background-image: url(../images/joanna-kosinska-7ACuHoezUYk-unsplash.jpg); 
background-size: cover;
width: 100%;
box-sizing: border-box;
margin: 0px;
display: grid;
place-items: center;
}
.statistics .container {display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
background-color: rgb(96, 96, 129, 35%);
width: 90%;
margin-top: 100px;
margin-bottom: 100px;

}
.statistics .container div {display: grid;
place-items: center;
flex: auto;
}
.statistics .container div span {background-color: black;
height: 70px;
width: 70px;
border-radius: 50%;
color: white;
font-size: 30px;
display: grid;
place-items: center;
margin-top: 5px;
}
.statistics .container div p:nth-of-type(1) {color: white;
font-size: 24px;
}
.statistics .container div p:nth-of-type(2) {color: white;
font-size: 24px;
}
@media (max-width: 600px) {
.statistics .container {flex-flow: column wrap;}
}
@media (max-width: 992px) {
.statistics .container div {flex: 50%;}

}
/* end statistics */

/* start skills */
.skills .container {margin: auto;
width: 90%;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
margin-top: 100px;
margin-bottom: 100px;
}
.skills .container>div {width: 45%;
text-align: center;
}
.skills .container>div p {color: rgb(199, 194, 194);
font-size: 21px;
}
.skills .container .testimonials {margin-right: 30px;}
.skills .container .testimonials>div {display: flex;
flex-flow: row;
justify-content: space-between;
margin-top: 80px;
}
.skills .container .testimonials div img {height: 120px; width: 120px;
border-radius: 50%;
}
.skills .container .testimonials>div div {border-bottom: 1px solid rgb(35, 150, 226);
position: relative;
}
.skills .container .testimonials>div div p{width: 75%;
height: 155px;
}
.skills .container .testimonials>div div p:nth-of-type(2) {height: 30px;
margin: 5px;
float: right;
}
.container .skills>div>div {height: 40px;
width: 100%;
display: flex;
flex-flow: row;
margin-bottom: 10px;
position: relative;
}
.container .skills>div:nth-of-type(1)>div::before {content: "90%";
height: 35px; width: 50px;
background-color: black;
color: white;
position: absolute;
left: calc(90% - 25px);
top: -50px;
display: grid;
place-items: center;
border-radius: 7px;
}
.container .skills>div:nth-of-type(1)>div::after {content: "";
border-color: black transparent transparent transparent;
border-style: solid;
border-width: 15px;
position: absolute;
left: calc(90% - 15.5px);
top: -17px;
}
.container .skills>div:nth-of-type(2)>div::before {content: "85%";
height: 35px; width: 50px;
background-color: black;
color: white;
position: absolute;
left: calc(85% - 25px);
top: -50px;
display: grid;
place-items: center;
border-radius: 7px;
}
.container .skills>div:nth-of-type(2)>div::after {content: "";
border-color: black transparent transparent transparent;
border-style: solid;
border-width: 15px;
position: absolute;
left: calc(85% - 15.5px);
top: -17px;
}
.container .skills>div:nth-of-type(3)>div::before {content: "80%";
height: 35px; width: 50px;
background-color: black;
color: white;
position: absolute;
left: calc(80% - 25px);
top: -50px;
display: grid;
place-items: center;
border-radius: 7px;
}
.container .skills>div:nth-of-type(3)>div::after {content: "";
border-color: black transparent transparent transparent;
border-style: solid;
border-width: 15px;
position: absolute;
left: calc(80% - 15.5px);
top: -17px;
}
.container .skills>div:nth-of-type(4)>div::before {content: "90%";
height: 35px; width: 50px;
background-color: black;
color: white;
position: absolute;
left: calc(90% - 25px);
top: -50px;
display: grid;
place-items: center;
border-radius: 7px;
}
.container .skills>div:nth-of-type(4)>div::after {content: "";
border-color: black transparent transparent transparent;
border-style: solid;
border-width: 15px;
position: absolute;
left: calc(90% - 15.5px);
top: -17px;
}
.container .skills>div p {color: black;
float: left;
}
.container .skills .adobe div .rate {background-color: rgb(35, 150, 226);
width: 90%;
}
.container .skills .adobe div .complete {background-color: rgb(194, 192, 192);
width: 10%;
}
.container .skills .html-css .rate {background-color: rgb(35, 150, 226);
width: 85%;
}
.container .skills .html-css .complete {background-color: rgb(194, 192, 192);
width: 15%;
}
.container .skills .js .rate {background-color: rgb(35, 150, 226);
width: 80%;
}
.container .skills .js .complete {background-color: rgb(194, 192, 192);
width: 20%;
}
.container .skills .php .rate {background-color: rgb(35, 150, 226);
width: 90%;
}
.container .skills .php .complete {background-color: rgb(194, 192, 192);
width: 10%;
}
@media (max-width: 992px) {
.skills .container>div {width: 100%;}
}
@media (max-width: 450px) {
.skills .container .testimonials div img {width: 95px;
height: 95px;
}
.skills .container .testimonials>div {flex-flow: column;
align-items: center;
}
.skills .container .testimonials>div div p {margin: auto;
margin-top: 20px;
}
}

/* end skills */

/* start a wise */
.wise {background-image: url(../images/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
background-size: cover;
display: grid;
place-items: center;
}
.wise .container {width: 90%;
margin: auto;
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}
.wise .container h4 {color: white;
font-size: 25px;
}
.wise .container p {
color: white;
}
/* end a wise */

/* start pricing */
.pricing .container {width: 90%;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
}
.pricing .container>div {background-color: rgba(248, 241, 241, 0.699);
padding: 15px;
width: 19%;
margin-bottom: 10px;
}
.pricing .container>div>div:nth-child(1) {border-top: 1px solid rgb(35, 150, 226);
border-bottom: 1px solid rgb(35, 150, 226);
height: 100px;
display: grid;
place-items: center;
padding: 30px;
}
.pricing .container>div>div:nth-child(1) h6 {font-size: 15px;
margin: 5px;
}
.pricing .container>div>div:nth-child(1) p {font-size: 35px;
font-weight: bold;
}
.pricing .container>div>div:nth-child(2) {border-bottom: 1px solid rgb(35, 150, 226);
height: 200px;
display: grid;
place-items: center;
}
.pricing .container>div>div:nth-child(2) div:not(:last-child) {width: 70%;
border-bottom: 1px solid rgb(35, 150, 226);
font-size: 20px;
text-align: center;
padding-bottom: 5px;
}
.pricing .container>div>div:nth-child(2) div:last-child {font-size: 20px;
text-align: center;
}
.pricing .container>div>div:nth-child(3) {display: grid;
place-items: center;
}
.pricing .container>div>div:nth-child(3) p {border: 1px solid rgb(35, 150, 226);
padding: 10px;
}
.pricing>div:last-child {display: grid;
place-items: center;
}
.pricing>div:last-child div {background-color: rgb(35, 150, 226);
color: white;
display: grid;
place-items: center;
padding: 15px;
}
@media (max-width: 992px) {
.pricing .container>div {
width: 40%;
}
}
@media (max-width: 620px) {
.pricing .container>div {
width: 90%;
}
}
/* end pricing */

/* start email */
.email {background-image: url(../images/robert-zunikoff-5gnLz583gCY-unsplash.jpg);
background-size: cover;
display: grid;
place-items: center;
margin-top: 100px;
}
.email .container {margin: auto;
margin-top: 100px;
margin-bottom: 100px;
width: 90%;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.email .container .form form {display: flex;
flex-flow: row;
}
.email .container .form form input:nth-child(1) {width: 70%;
background: transparent;
border: 1px solid white;
}
.email .container .form form input:nth-child(2) {color: white;
background-color: rgb(35, 150, 226);
display: grid;
place-items: center;
padding: 15px;
border: 1px solid white;
}
/* end email */

/* start contact */
.contact .container {margin: auto;
width: 90%;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
margin-top: 100px;
margin-bottom: 100px;
}
.contact .container .form {width: 55%;
position: relative;
}
.contact .container .form form input {width: 100%;
height: 65px;
margin-bottom: 20px;
}
.contact .container .form form input:last-child {width: 150px;
position: relative;
background-color: rgb(35, 150, 226);
color: white;
margin: 20px;
float: right;
}
.contact .container .form form textarea {height: 150px;
width: 100%;
}
.contact .container .address {width: 30%;}
.contact .container .address div {margin-bottom: 50px;
text-align: center;
font-size: 20px;
}
@media (max-width: 670px) {
.contact .container {flex-flow: column;}
.contact .container div {display: grid;
place-items: center;
}
.contact .container .form {width: 100%;}
.contact .container .address {width: 100%;}

}
/* end contact */

/* start footer */
footer {background-image: url(../images/robert-zunikoff-5gnLz583gCY-unsplash.jpg);
background-size: cover;
height: 200px;
}
footer .container {margin: auto;
width: 90%;
display: grid;
place-items: center;
margin-top: 100px;
margin-bottom: 10px;
}
/* end footer */
